.slider__container{
	display: flex;
	height: 350px;
	background-color: rgb(87, 84, 84);
}
.slider__control{
	width: 10%;
}
.slider__control.noShow{
	display: none;
}

.slider__control__icon{
	width: 100%;
    font-size: 40px;
    background: rgba(255, 255, 255, 1);
    height: max-content;
	margin-top: 155px;
	opacity: 0.5;
}
.nav__arrow__text{
	margin-left: 5px;
}
.slider__control__icon:hover{
	opacity: 0.8;
}

.slider__slider{
	width:80%;
}
