.slider__container{
	height: 350px;
	background-color: rgb(0, 0, 0);
}

.slider__control{
	position: absolute;
	top:0;
}

.slider__control.left{
	right:calc(100% - 40px);
}

.slider__control.right{
	left:calc(100% - 40px);
}

.slider__control.noShow{
	display: none;
}

.slider__caption{
	position: absolute;
	bottom: 10%;
	left: calc(50% - 100px);
	width:200px;
	font-size: 20px;
	font-weight: bold;
	color:rgb(255, 255, 255);
	text-align: center;
}

.slider__control__icon{
	width: 100%;
    font-size: 40px;
	height: 40px !important;
    height: max-content;
	color: rgb(255, 255, 255);
	margin-top: 155px;
	cursor:pointer;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.slider__control__icon:hover{
	background-color: rgb(255, 255, 255) ;
	color: #000;
}

.nav__arrow__text{
	margin-left: 5px;
}

.slider__slider{
	width:100%;
	margin: auto;
	height:100%;
}

@media screen and ( max-width:767px )
{
	.slider__control__icon{
		margin-top: 130px;

	}
	.slider__container{
		height: 300px;
	}

	.slider__control.left{
		right:88%;
	}

	.slider__control.right{
		left:88%;
	}
}
